
<header class="site-header">

  <div class="header-theme">
   <!-- TODO: agregar una imagen de fondo -->
    <div class="hero-container">
      <div class="hero-text">
        <h1>codeRick</h1>
        <nav>
          <ul>
            <li><a href="/infoEng">About</a></li>
        <!-- TODO: buscar como cono identificar de donde esta leyendo una persona
        y automaticamente elegir el idioma, else cambiar el idioma por este link -->
            <li id="spacer">|</li>
            <li><a href="/audio" class="cl-effect-12">audio</a></li>
            <li id="spacer">|</li>
            <li><a href="http://www.twitter.com/rasabatino">twitter</a></li>
            <li id="spacer">|</li>
            <li><a href="http://www.instagram.com/ricardo-sabatino">instagram</a></li>
            <li id="spacer">|</li>
            <li><a href="http://www.github.com/coderickdotcom">github</a></li>
            <li id="spacer">|</li>
            <li><a href="/"><img src="images/esflag.png" alt="Portal en español"></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

</header>
