<header class="site-header">

   <!-- TODO: agregar una imagen de fondo -->
    <div class="hero-container">
      <div class="hero-text">
        <h1>codeRick</h1>

          <h3>Un repositorio de mis <span id="typed"></span></h3>


        <p>Siempre buscando nuevas aventuras. Actualmente desarrollando aplicaciones web
        y aprendiendo tan rapido como mi mente me deja.</p>

        <nav>
          <ul>
            <li><a href="/info">Acerca de mi</a></li>
        <!-- TODO: buscar como cono identificar de donde esta leyendo una persona
        y automaticamente elegir el idioma, else cambiar el idioma por este link -->
            <li>|</li>
            <li><a href="/contacto" class="cl-effect-12">contacto</a></li>
            <li>|</li>
            <li><a href="http://www.twitter.com/rasabatino">twitter</a></li>
            <li>|</li>
            <li><a href="http://www.instagram.com/ricardo-sabatino">instagram</a></li>
            <li>|</li>
            <li><a href="http://www.github.com/coderickdotcom">github</a></li>
            <li>|</li>
            <li><a href="/indexEng"><img src="images/muricaflag.jpg" alt="English portal"></a></li>
          </ul>
        </nav>
      </div>
      <!-- only god can judge me for this hack -->
      <p style="color: transparent;">
        tezt <br />tezt <br />tezt <br />
      </p>
      <a href=".post-list" class="flecha"></a>

    </div>


</header>
